.quiz-card-wrapper {
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;

  .quiz-card {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    width: 80%;
    // background: yellow;

    .selected-answer {
      background: linear-gradient(269.64deg, rgba(166, 88, 245, 0.75) 0%, rgba(112, 0, 255, 0.75) 100%);
      border-radius: 20px;
    }

    .choice {
      color: #000;
      font-size: 15px;
    }
  }
}
